.tabla-opciones-alojamientos {
    min-width: 400px;
    width: 100%;
}

.tabla-opciones-alojamientos table {
    font-size: 14px;
    width: 100%;
}

.tabla-opciones-alojamientos tr {
    height: 30px;
}

.tabla-opciones-alojamientos td,
.tabla-opciones-alojamientos th {
    position: relative;
    border-radius: 10px;
}

.tabla-opciones-alojamientos td:nth-child(1) {
    width: 60px;
}

.tabla-opciones-alojamientos td:nth-child(2) {
    width: 20%;
}

.tabla-opciones-alojamientos td:nth-child(3) {
    max-height: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem;
}

.tabla-opciones-alojamientos td:nth-child(4) {
    width: 7%;
}

.disponible-check {
    cursor: pointer;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgb(204, 96, 96);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.disponible-check span {
    font-size: 12px;
}

.disponible-check.disponible {
    background-color: rgb(74, 233, 74);
}

.servicio-check {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgb(223, 223, 223);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.servicio-check:hover {
    cursor: pointer;
}

.servicio-check.selected {
    background-color: rgb(145, 218, 145);
}

.servicio-check span,
.servicio-check.selected span {
    font-size: 11px;
    text-align: center;
}

.tabla-opciones-alojamientos table input[type="text"] {
    height: 26px;
    min-width: 150px;
    width: 45%;

    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: none;
}

.tabla-opciones-alojamientos table button {
    height: 24px;
    width: 24px;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1rem;
    font-size: 16px;
}

.tabla-opciones-alojamientos table button:disabled {
    background-color: rgb(177, 170, 157);
}

.tabla-opciones-alojamientos th {
    background-color: var(--naranja);
    color: white;
}

.tabla-opciones-alojamientos tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}
